{% extends 'facts/base.html' %}
{% block content %}
    <div class="content">
     <h2>{{ song.name }}</h2>
    <h2>{{ song.artist }}</h2>
        {% for fac in object_list %}
            <p class="oneFact"> {{ fac }} | {{ fac.author }}</p>
            {{ value|linebreaks }}
        {% endfor %}
    </div>
    <div class="add-fact">
        <h2>Add Fact:</h2>
        <form method="post">
            {% csrf_token %}
            {{ form }}
            <button type="submit">Submit</button>
        </form>
    </div>



{% endblock content %}
